

.content
   width: 100%
   display: flex
   padding: 40px
   gap: 40px
   background-color: var(--card-color)
   border-radius: 20px
   color: white

   box-shadow: 0 0 30px -10px var(--shadow)

   @media (max-width: 768px)
      flex-direction: column

   @media (max-width: 425px)
      padding: 20px

   .content__image-wrapper
      width: 120px
      height: 120px
      border-radius: 9999px
      overflow: hidden
      flex-shrink: 0
      border: 2px solid white
      
      img 
         object-fit: cover
         width: 100%
         height: 100%

   .content__main  
      display: grid
      flex-grow: 1
      gap: 40px

      .content__header
         display: grid
         gap: 20px
      
         & > p 
            word-break: break-all

         .content__header__info
            display: flex
            justify-content: space-between

            @media (max-width: 768px)
               flex-direction: column
               gap: 10px
            
            .content__title
               display: grid
               gap: 6px

               .content__name
                  font-size: 1.6rem
                  font-weight: bold

               .content__username
                  color: var(--primary-color)
                  text-decoration: none
      
      .content__profile-info
         background-color: var(--background-color)
         padding: 20px
         border-radius: 15px
         display: grid
         grid-template-columns: 1fr 1fr 1fr

         @media (max-width: 768px)
            font-size: 0.8rem

         .content__profile-info__item 
            display: grid
            gap: 10px

         .content__profile-info__number
            font-size: 1.4rem
            font-weight: bold
      
      .content__contact
         display: grid
         grid-template-columns: 1fr 1fr
         grid-template-rows: 1fr 1fr
         gap: 15px
         @media (max-width: 768px)
            grid-template-columns: 1fr

         .content__contact__item 
            display: flex
            align-items: center
            gap: 10px
            width: 100%
            // white-space: pre-wrap
            // overflow: auto
            word-break: break-all
            

.text--bold 
   color: var(--text-bold)

.text--faded
   color: var(--text-faded)